.change-screen-myPosts {
    width: 1850px;
    height: 800px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
}

#change-screen-content {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.navigation {
    width: 300px;
    height: 700px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    margin: 23px 0 15px 23px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;  /* 여백 추가 */
}

h1 {
    position: sticky;
    top: 0;  /* 상단에 고정 */
    background-color: white;
    padding: 10px;
    font-size: 40px;
    color: #333;
    width: 90%;  /* 전체 너비를 차지하도록 */
    text-align: center;
    z-index: 100;  /* 다른 요소 위에 위치하도록 */
}

.content-container {
    width: 1500px;
    height: 750px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    margin: 23px 23px 15px 30px;
}

.dropdown {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}

.dropdown-title {
    background-color: transparent;
    color: #007bff;
    padding: 10px;
    cursor: pointer;
    text-align: left;
    border: none;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
    width: 100%;
}

.dropdown-title:hover {
    color: #0056b3;
}

.dropdown-menu {
    display: none;
    position: relative;
    background-color: transparent;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 1000;
    box-shadow: none;
}

.dropdown-menu li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.dropdown-menu li a {
    display: block;
    color: #333;
    text-decoration: none;
    font-size: 14px;
}

.dropdown-menu li a:hover {
    background-color: #f1f1f1;
}

.dropdown-menu li:last-child {
    border-bottom: none;
}