.change-screen-schedule{
    width: 1850px;
    height: 800px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 3%;
}

.box{
    width: 1850px;
    height: 800px;
    display: flex;
}

.user-info {
    width: 500px;
    height: 780px;
    border-radius: 10px;
    margin: 10px;
    background-color: white; /* 흰 배경 추가 */
    box-shadow: 0 5px 5px 4px rgba(0, 0, 0, 0.1); /* 그림자 아래로 연하게 조정 */
}

.calendar {
    width: 1300px;
    height: 780px;
    margin: 10px;
    background-color: white; /* 흰 배경 추가 */
    box-shadow: 0 5px 5px 4px rgba(0, 0, 0, 0.1); /* 그림자 아래로 연하게 조정 */
    padding: 5px;
}
