.change-screen-animals{
    width: 1850px;
    height: 800px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 3%;
    color: #000000;
}
/* Reset some default styles */
body, table {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
}

/* Board styles */
.image {
    object-fit: cover;  /* 이미지를 셀 크기에 맞게 자르면서 비율을 유지 */
}
.animals {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Post List styles */
.post-list {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.post-list th, .post-list td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.post-list th {
    background: rgba(194,194,194,0.69)
}

.iduButton {
    display: flex; /* 버튼들을 한 줄에 나란히 배치 */
    justify-content: flex-end; /* 오른쪽 정렬 */
    margin-right: 10px;
    margin-bottom: 5px;
}

.insert, .delete, .updateAdoption {
    margin-left: 10px; /* 버튼 간의 간격 */
}

.insert a, .delete a, .updateAdoption a {
    display: inline-block; /* 버튼처럼 보이게 */
    padding: 8px 12px; /* 내부 여백 */
    border-radius: 4px; /* 모서리 둥글게 */
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    text-decoration: none; /* 밑줄 제거 */
    color: white; /* 글자색 */
    transition: background-color 0.3s; /* 배경색 변화 애니메이션 */
}

.insert a {
    background-color: #29e131; /* 추가 버튼 배경색 */
}

.insert a:hover {
    background-color: #239f26; /* 추가 버튼 호버 시 색상 */
}

.delete a {
    background-color: #ff7043; /* 삭제 버튼 배경색 */
}

.delete a:hover {
    background-color: #f4511e; /* 삭제 버튼 호버 시 색상 */
}

.updateAdoption a {
    background-color: #05b1fa; /* 수정 버튼 배경색 */
}

.updateAdoption a:hover {
    background-color: #0c749f; /* 수정 버튼 호버 시 색상 */
}