<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>재고관리</title>
    <link rel="stylesheet" href="/main/css/main-style.css"> <!-- 메인 스타일 연결 -->
    <script src="/main/js/main.js"></script> <!-- 메인 자바스크립트 연결 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=keyboard_arrow_down" />
    <link rel="stylesheet" href="/sidemenu/animals/css/stock-style.css">
</head>
<body>
<header>
    <div class="side-menu-bar">
        <ul>
            <li><a href="/main">🐶PetHarmony🐶</a></li>
            <li><a href="http://localhost:9595/sidemenu/schedule">근태관리</a></li>
            <li><a href="http://localhost:9595/sidemenu/messenger">메신저(채팅)</a></li>
            <li><a href="http://localhost:9595/sidemenu/mail">이메일</a></li>
            <li><a href="http://localhost:9595/sidemenu/adoption">입양</a></li>
            <li class="animal-menu">
                <div class="menu-wrapper">
                    <a href="http://localhost:9595/sidemenu/animals">동물
                        <span class="material-symbols-outlined">keyboard_arrow_down</span>
                    </a>
                </div>
                <ul class="sub-menu">
                    <li><a href="http://localhost:9595/sidemenu/animals">구조동물</a></li>
                    <li><a href="http://localhost:9595/sidemenu/adoptionComplete">입양완료</a></li>
                    <li><a href="http://localhost:9595/sidemenu/stock">재고관리</a></li>
                </ul>
            </li>
            <li><a href="http://localhost:9595/sidemenu/facilities">시설관리</a></li>
            <li><a href="http://localhost:9595/sidemenu/board">전사게시판</a></li>
            <li><a href="http://localhost:9595/sidemenu/employee">직원정보</a></li>
            <li><a href="http://localhost:9595/sidemenu/mypage">마이페이지</a></li>
            <li><a href="http://localhost:9595/sidemenu/approval">결재</a></li>
            <li class="admin-menu">
                <div class="admin-menu-wrapper">
                    <a href="http://localhost:9595/sidemenu/manager">관리자전용
                        <span class="material-symbols-outlined">keyboard_arrow_down</span>
                    </a>
                </div>
                <ul class="sub-menu">
                    <li><a href="http://localhost:9595/sidemenu/manager">관리자페이지</a></li>
                    <li><a href="http://localhost:9595/sidemenu/employeeRegister">사원등록</a></li>
                    <li><a href="http://localhost:9595/sidemenu/employeeManagement">직원관리</a></li>
                    <li><a href="http://localhost:9595/sidemenu/approvalBox">결재함</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>
<div class="change-screen-stock">
    <div id="change-screen-content">

        <table>
        <thead>
        <tr>
            <th style="width: 80px;">품목코드</th>
            <th style="width: 150px;">대분류</th>
            <th style="width: 50px;">품목구분</th>
            <th style="width: 100px;">품목그룹</th>
            <th style="width: 70px;">거래처명</th>
            <th style="width: 170px;">거래일자</th>
            <th style="width: 200px;">품목명</th>
            <th style="width: 50px;">재고수량</th>
        </tr>
        </thead>
        <tbody>
        <!-- 자동으로 menuList 의 크기까지 반복 -->
        <tr th:each="inventory : ${inventoryList}">
            <td th:text="${inventory.itemCode}"></td>
            <td th:text="${inventory.typeDTO.typeName}"></td>
            <td th:text="${inventory.itemType}"></td>
            <td th:text="${inventory.itemGroup}"></td>
            <td th:text="${inventory.dealName}"></td>
            <td th:text="${#dates.format(inventory.dealDate, 'yyyy-MM-dd')}"></td>
            <td th:text="${inventory.itemName}"></td>
            <td th:text="${inventory.itemNum}"></td>
        </tr>
        </tbody>
        </table>
    </div>
</div>
</body>
</html>