<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.semiproject.employee.model.dao.EmployeeMapper">
    <resultMap id="empResult" type="com.ohgiraffers.semiproject.employee.model.dto.EmployeeDTO">
        <id property="empCode" column="emp_code"/>
        <result property="empPass" column="emp_pass"/>
        <result property="empName" column="emp_name"/>
        <result property="empEmail" column="emp_email"/>
        <result property="empPhone" column="emp_phone"/>
        <result property="hireDate" column="hire_date"/>
        <result property="entDate" column="ent_date"/>
        <result property="empGender" column="emp_gender"/>
        <result property="empAddress" column="emp_address"/>
        <result property="jobCode" column="job_code"/>
        <result property="deptCode" column="dept_code"/>
        <result property="authority" column="authority"/>
        <result property="profile_image" column="profile_image"/>
    </resultMap>

    <select id="empAll" resultMap="empResult">
        SELECT
            *
        FROM
            TBL_EMP
    </select>


    </mapper>